.card{
    width: 100%;
    max-width: 800px;
    margin-top: 50px;
}

form > p{
    text-align: left;
}

.card > p{
    text-align: left;
}

.main{
    background-color: #444;
    color: white;
    padding: 50px;
}